form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "main author"
    "main-meta author-icon"
    "fields fields";
  gap: 2rem;
  label {
    min-width: 8rem;
  }
  input {
    margin-bottom: 0.5rem;
  }
  div {
    grid-area: main;
  }
  #author {
    grid-area: author;
  }
  #author-icon {
    grid-area: author-icon;
  }
  #fields {
    grid-area: fields;
  }
}
